video {
  width: 100%;
  height: auto;
  display: block;
}
#video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}
#video div > h3 {
  text-align: center;
}
.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(100% / (16 / 9));
}
iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.galleri {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  gap: 3px;
  margin: 10px 0 10px 0;
}

.galleri > img {
  flex-basis: calc(10.666% - 5px);
  justify-content: stretch;
  min-height: 400px;
  min-width: 400px;
  background: white;
  color: white;
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .galleri {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1259px) {
  #video {
    grid-template-columns: 1fr;
  }
  .galleri {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .galleri {
    grid-template-columns: 1fr;
  }
}
